@media (max-width: 768px) {
    .species-canvas {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        height: auto;
        gap: 20px;
    }

    .species-card {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: 220px;
    }

    .card-title-text {
        font-size: 14px;
    }
}



@media (max-width: 768px) {
    .rules-page-wrapper {
        max-width: 90vw;
    }

    .rules-badge {
        font-size: 16px;
        padding: 6px 16px;
        border-radius: 8px;
    }

    .rule-title {
        font-size: 20px;
    }

    .rule-description {
        font-size: 15px;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .rule-section.align-right {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .coral {
        display: none;
    }
}



